@media (max-width: 1960px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    .content__img {
        width: 150px;
        height: 105px;
    }

    .content__map {
        width: 150px;
        height: 105px;
    }

    .content__right {
        align-items: center;
    }

    .hero-left__nav label {
        padding-bottom: 10px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .hero-right {
        display: none;
    }

    .content__img {
        width: 100px;
        height: 70px;
    }

    .content__map {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .content__top {
        flex-direction: column;
    }

    .hero-left__nav {
        flex-direction: column;
    }

    .content__right {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .logo__img {
        width: 134px;
    }

    .nav__menu {
        padding: 20px;
        margin: 0 17px 0 5px;
    }

    .nav-search__select {
        width: 60%;
        padding: 10px 10px;
    }

    .nav-search__input {
        width: 100%;
        padding: 10px 10px;
    }

    .hero__title {
        width: auto;
        font-size: 26px;
        display: flex;
        flex-direction: column;
    }

    .hero__title span {
        font-size: 18px;
    }

    .contact__list {
        flex-direction: column;
    }

    .content__left {
        margin-bottom: 15px;
    }



    .contact__item {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    
    .contact__map {
        font-size: 14px;
    }

    .contact__pin {
        font-size: 14px;
    }
    
    
    .contact__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
        color: #1F1F24;
    }

    .hero__content {
        padding: 10px;
    }

    .hero-left__nav {
        flex-direction: column-reverse;
    }
    
    .hero-left__nav label {
        padding-bottom: 12px;
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 26px;
        color: #0AA9B4;
        border-bottom: 2px solid #BCBCBE;
    }

}